
.mt-2{
    margin-top: 2rem !important;
}
.form-product{
margin-top: 2rem;
display: flex;
flex-direction: column;
gap : 1rem;
}
.list-group-item .titre
{
font-size: 15px;
font-weight: bold;
}
.list-group-item .description
{
font-size: 11px;
}
